In [62]:
import numpy as np
import pandas as pd

In [63]:
df = pd.read_csv('height_weight.csv')
df.head(5)

  gender     height      weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [64]:
df.shape

(10000, 3)

In [65]:
df.height.describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: height, dtype: float64

In [66]:
Q1_height = df.height.quantile(0.25)
Q3_height = df.height.quantile(0.75)
Q1_height, Q3_height

(63.505620481218955, 69.1742617268347)

In [67]:
IQR_height = Q3_height - Q1_height
IQR_height

5.668641245615746

In [68]:
lower_limit_height = Q1_height - 1.5*IQR_height
upper_limit_height = Q3_height + 1.5*IQR_height

lower_limit_height, upper_limit_height

(55.00265861279534, 77.67722359525831)

In [69]:
df[(df.height < lower_limit_height) | (df.height > upper_limit_height)]

      gender     height      weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
7294  Female  54.873728   78.606670
9285  Female  54.263133   64.700127

In [70]:
df.weight.describe()

count    10000.000000
mean       161.440357
std         32.108439
min         64.700127
25%        135.818051
50%        161.212928
75%        187.169525
max        269.989699
Name: weight, dtype: float64

In [71]:
Q1_weight = df.weight.quantile(0.25)
Q3_weight = df.weight.quantile(0.75)

Q1_weight, Q3_weight

(135.8180513055015, 187.16952486868348)

In [72]:
IQR_weight = Q3_weight - Q1_weight
IQR_weight

51.35147356318197

In [73]:
lower_limit_weight = Q1_weight - 1.5*IQR_weight
upper_limit_weight = Q3_weight + 1.5*IQR_weight

lower_limit_weight, upper_limit_weight

(58.79084096072856, 264.19673521345646)

In [74]:
df[(df.weight < lower_limit_weight) | (df.weight > upper_limit_weight)]

     gender     height      weight
2014   Male  78.998742  269.989699

In [78]:
df[(df.weight < lower_limit_weight) | (df.weight > upper_limit_weight) | (df.height < lower_limit_height) | (df.height > upper_limit_height) ]

      gender     height      weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
7294  Female  54.873728   78.606670
9285  Female  54.263133   64.700127

In [79]:
df2 = df[(df.height > lower_limit_height) & (df.height < upper_limit_height) & (df.weight > lower_limit_weight) & (df.weight < upper_limit_weight)]
df2

      gender     height      weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9992 rows x 3 columns]

In [80]:
df.shape[0] - df2.shape[0]

8